#titik2{
padding-right:50px; 
padding-left:50px;
}


#frame {

width : 220px;
height : 800px;
background-color:#17c5da;
float :left;
margin-left:230px;
margin-top : 40px;
position:absolute;
border-radius : 20px;
position : absolute;
}

#umlink {
position:absolute;
margin : 250px 25px;
width:155px;
}

#pp {
position : absolute;
margin-left:20px;
margin-top: 20px;

}


div h1 {
font-size: 40px;
color:white;
position:absolute;
margin-top :60px;
margin-left:320px
}

div h5{
font-size:16px;
color:white;
margin-top:120px;
margin-left:500px;
position:absolute;
}


#bio {
position : absolute;
float:right;
width:600px;
height :800px;
background-color:#ffffff;
opacity:0.6;
margin-left:500px;
margin-top : 40px;
border-radius:15px;
}

#diskripsi
{
	margin-top:30px;
	margin-left:30px;
	margin-right:30px;
	position : absolute;
	
}


a{
font-family:arial;
}

